
        .nav{
            display:flex;
            justify-content: space-evenly;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width:100%;
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
       a{
            text-decoration: none;
            color:blue;
            border-top:5px;
        }
        h1{
            color:darkblue;
            margin:0;
            
        }
        button{
            background-color: red;
            color:white;
            height:40px;
            text-align: center;
            border-color: white;  
        }
        .order{
            width:90%;
            max-width: 1200px;
            margin:40px auto;
            font-weight: bold;
            font-size: 28px;
        }
        .menu-container{
            width:90%;
            max-width: 1100px;
            margin:40px auto;
            display:grid;
            grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
            gap:20px;
        }
        .card{
            background: red;
            padding:25px 15px;
            text-align: center;
            border-radius:8px;
            color:white;
        }
        .card img{
            width:140px;
            height:140px;
            border-radius: 5px;
            margin-bottom:15px;
            border:2px solid white;
            object-fit: cover;
        }
        .card h3{
            margin:10px 0;
            font-size:20px;
            font-weight: bold;
        }
        .card p{
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 20px;
        }
        .card button{
            padding:8px 20px;
            border:none;
            background: white;
            color:#d7262b;
            font-size: 14px;
            font-weight:bold;
            border-radius:4px;
        }
        .explore{
            width:90%;
            max-width: 1200px;
            margin:40px auto;
            font-weight: bold;
            font-size: 28px;
        }
        .container-2{
            width:90%;
            max-width: 1200px;
            margin:40px auto;
            display:grid;
            grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
            gap:20px;
            
        }
        .card-1{
            background: white;
            padding:28px 18px;
            text-align: center;
            border-radius:8px;
            color:black;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-1 img{
            width:140px;
            height:140px;
            border-radius: 5px;
            margin-bottom:15px;
            border:2px solid white;
            object-fit: cover;
        }
        .card-1 h3{
            margin:10px 0;
            font-size:20px;
            font-weight: bold;
        }
         .card-1 p{
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 20px;
        }
        .card-1 div{
            padding:8px 20px;
            border:none;
            color:red;
            font-size: 14px;
            font-weight:bold;
            border-radius:4px;
            width:fit-content;
            margin:auto;
        }
        .container-3{
            width:90%;
            max-width: 1200px;
            margin:40px auto;
            background-color: #f8f8f8;
            padding: 40px;
            border-radius: 8px;
            gap:20px;
            display:grid;
        }
        .bottom img{
            width:300px;
            height:200px;
            margin:10px;
            float:left;  
        }
        .bottom h1{
            font-size:26px;
            margin-bottom:10px;
            font-weight: bold;
            color:black;
            display:grid;
            text-align: right;

        }
        .bottom p{
            font-size:16px;
            margin-bottom:20px;
            display:grid;
            text-align:right;
        }
        .bottom div img:last-child, .bottom div img:nth-last-child(2){
            width:120px;
            height:40px;
            margin:10px;
            float:right;
            
        }

    